# Gemini AI Key
GOOGLE_API_KEY=

# Supabase (Frontend & Backend Estimation)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase (Background Pricing Fetch Script)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
